<?xml version="1.0" encoding="UTF-8" ?>
 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.worksmobile.assignment.mapper.BoardMapper">
	
   <!-- offset위치부터 noOfRecords 수 만큼 select 한다. -->
   <select id="articleList" resultType="com.worksmobile.assignment.model.Board" parameterType="hashmap">
		SELECT * 
		FROM board
		WHERE cookie_id = "LEAF_NODE_COOKIE_ID"
		LIMIT #{offset}, #{noOfRecords};  
	</select>
	
	<select id="articleGetCount" resultType="int">
		SELECT count(*) 
		FROM board
		WHERE cookie_id = "LEAF_NODE_COOKIE_ID";  
	</select>
	    
    <select id="viewDetail" parameterType="hashmap" resultType="com.worksmobile.assignment.model.Board" >
    	SELECT board_id,version,subject,content,created_time,file_id,root_board_id,cookie_id
    	FROM board
    	WHERE board_id = #{board_id} AND version = #{version} AND cookie_id = #{cookie_id};
    </select>
    
    <select id="autoList" resultType="com.worksmobile.assignment.model.Board" parameterType="hashmap">
		SELECT * 
		FROM board 
		WHERE board_id = #{board_id} AND version = #{version} AND cookie_id != "LEAF_NODE_COOKIE_ID"
		LIMIT #{offset}, #{noOfRecords};
	</select>
	
	<select id="autoGetCount" resultType="int" parameterType="hashmap">
		SELECT count(*) 
		FROM board
		WHERE board_id = #{board_id} AND version = #{version} AND cookie_id != "LEAF_NODE_COOKIE_ID";  
	</select>
    
	<!--  board_history와 동시에 넣어져야함. -->
    <insert id="boardCreate" parameterType="com.worksmobile.assignment.model.Board">
        INSERT INTO board
        (board_id,version,subject,content,created_time,file_id,root_board_id,cookie_id)
        VALUES (#{board_id}, #{version},#{subject},#{content},
        <choose>
        	<when test="cookie_id == 'LEAF_NODE_COOKIE_ID'">
                                                                #{created_time}
			</when>
			<otherwise>
                                                                CURRENT_TIMESTAMP
			</otherwise>
        </choose>
                                                                                ,#{file_id},#{root_board_id},#{cookie_id});

        <selectKey keyProperty="created_time" resultType="com.worksmobile.assignment.model.Board" order="AFTER">
     		SELECT created_time FROM board
     		WHERE board_id = #{board_id} AND version = #{version} AND cookie_id = #{cookie_id};
     	</selectKey>
    </insert>
    
    <delete id="deleteBoardAndAutoSave" parameterType="hashmap">
        DELETE FROM board 
        WHERE board_id = #{board_id} AND version = #{version} ;
    </delete>
    
    <delete id="deleteBoardWithCookieId" parameterType="hashmap">
        DELETE FROM board 
        WHERE board_id = #{board_id} AND version = #{version} AND cookie_id = #{cookie_id};
    </delete>
    
    <!--  히스토리 먼저 처리하고 boardUpdate 실행됨 -->
    <update id="boardUpdate" parameterType="hashmap">
        UPDATE board 
        SET 
        subject = #{subject},
        content = #{content},
        created_time = CURRENT_TIMESTAMP,
        file_id = #{file_id},
        root_board_id = #{root_board_id}
        WHERE board_id = #{board_id} AND version = #{version} AND cookie_id = #{cookie_id};
        <selectKey keyProperty="created_time" resultType="com.worksmobile.assignment.model.Board" order="AFTER">
     		SELECT created_time FROM board
     		WHERE board_id = #{board_id} AND version = #{version} AND cookie_id = #{cookie_id};
     	</selectKey>
    </update>
    
    <select id="boardFileDownload" parameterType="hashmap" resultType="com.worksmobile.assignment.model.File">
        SELECT b.file_name, b.file_data, b.file_size
        FROM board as a
        JOIN file as b
        ON a.file_id = b.file_id
        WHERE board_id = #{board_id} AND version = #{version};
    </select>
    
    <select id="getMaxCookieId" resultType="int">
    	SELECT IFNULL(MAX(cookie_id), 0) AS MaxCookieId
    	FROM board;
    </select>
    
    <select id="getBoardList" resultType="com.worksmobile.assignment.model.Board" >
    	SELECT board_id, version, subject, content, created_time, file_id, root_board_id, cookie_id
    	FROM board
    	WHERE board_id = #{board_id} AND version = #{version};
    </select>

    <select id="getFileCount" parameterType ="int" resultType="int">
		SELECT count(*)
		FROM board
		WHERE file_id = #{file_id};  
	</select>
</mapper>