<?xml version="1.0" encoding="UTF-8" ?>
 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.worksmobile.assignment.Mapper.BoardHistoryMapper">
	<select id="getHistoryByRootBoardId"
    resultType="com.worksmobile.assignment.Model.BoardHistory">
        SELECT board_id, version, created, status,
        		history_subject, history_content, file_id, 
        		parent_board_id, parent_version, root_board_id
		FROM board_history
		WHERE root_board_id = #{root_board_id};
    </select>

    <select id="getHistory" 
    resultType="com.worksmobile.assignment.Model.BoardHistory">
        SELECT board_id, version, created, status, 
        		history_subject, history_content, file_id, 
        		parent_board_id, parent_version, root_board_id
		FROM board_history
		WHERE board_id = #{board_id} AND version = #{version};
    </select>
    
    <delete id="deleteHistory" parameterType="int">
		DELETE FROM board_history
		WHERE board_id = #{board_id} AND version = #{version};
    </delete>
    
     <insert id="createHistory" parameterType="com.worksmobile.assignment.Model.BoardHistory">
        INSERT INTO board_history(board_id, version, status,
        						history_subject, history_content, file_id,
        						parent_board_id, parent_version, root_board_id)
		VALUES(#{board_id}, #{version}, #{status}, #{history_subject},
				#{history_content}, #{file_id}, #{parent_board_id}, #{parent_version}, #{root_board_id});
		<selectKey keyProperty="board_id,created" resultType="com.worksmobile.assignment.Model.BoardHistory" order="AFTER">
     		SELECT board_id, created FROM board_history
     		WHERE board_id =
     		<if test = "board_id == null">
     								LAST_INSERT_ID()
     		</if>
     		<if test = "board_id != null">
     								#{board_id}
     		</if>
     													AND version = #{version};
     	</selectKey>
    </insert>

    <update id="updateHistoryParentAndRoot" parameterType="com.worksmobile.assignment.Model.BoardHistory">
		UPDATE board_history
		SET
		  parent_board_id = #{parent_board_id}, parent_version = #{parent_version}, root_board_id = #{root_board_id}
		WHERE
		  board_id = #{board_id} AND version = #{version};
    </update>

     <select id="getChildren" 
    resultType="com.worksmobile.assignment.Model.BoardHistory">
        SELECT board_id, version, created, status,
        		history_subject, history_content, file_id,
        		parent_board_id, parent_version, root_board_id
		FROM board_history
		WHERE parent_board_id = #{board_id} AND parent_version = #{version};
    </select>
    
    <select id="getFileCount" parameterType ="int" resultType="int">
		SELECT count(*)
		FROM board_history
		WHERE file_id = #{file_id};  
	</select>
</mapper>