<?xml version="1.0" encoding="UTF-8" ?>
 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.worksmobile.Assignment.Mapper.BoardHistoryMapper">
	<select id="getHistoryByBoardId"
    resultType="com.worksmobile.Assignment.Domain.BoardHistoryDTO">
        SELECT board_id, version, created, status, history_subject, 
        		history_content, file_id, parent_board_id,
        		parent_version
		FROM board_history
		WHERE board_id = #{board_id};
    </select>

    <select id="getHistory" 
    resultType="com.worksmobile.Assignment.Domain.BoardHistoryDTO">
        SELECT board_id, version, created, status, history_subject, 
        		history_content, file_id, parent_board_id,
        		parent_version
		FROM board_history
		WHERE board_id = #{board_id} AND version = #{version};
    </select>
    
    <delete id="deleteHistory" parameterType="int">
		DELETE FROM board_history
		WHERE board_id = #{board_id} AND version = #{version};
    </delete>
    
     <insert id="createHistory" parameterType="com.worksmobile.Assignment.Domain.BoardHistoryDTO">
        INSERT INTO board_history(board_id, version, status, history_subject,
        						history_content, file_id,
        						parent_board_id, parent_version)
		VALUES(#{board_id}, #{version}, #{status}, #{history_subject},
				#{history_content}, #{file_id}, #{parent_board_id}, #{parent_version});
    </insert>

    <update id="updateHistoryParent" parameterType="com.worksmobile.Assignment.Domain.BoardHistoryDTO">
		UPDATE board_history
		SET
		  parent_board_id = #{parent_board_id}, parent_version = #{parent_version}
		WHERE
		  board_id = #{board_id} AND version = #{version};
    </update>

     <select id="getChildren" 
    resultType="com.worksmobile.Assignment.Domain.BoardHistoryDTO">
        SELECT board_id, version, created, status, history_subject, 
        		history_content, file_id, parent_board_id,
        		parent_version
		FROM board_history
		WHERE parent_board_id = #{board_id} AND parent_version = #{version};
    </select>
</mapper>