<?xml version="1.0" encoding="UTF-8" ?>
 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.worksmobile.Assignment.Mapper.BranchMapper">
    <select id="getBranch" resultType="com.worksmobile.Assignment.Domain.BranchDTO">
		SELECT branch_id, before_version, cur_version, next_version, history_id
		FROM branch
		WHERE branch_id = #{branch_id};
    </select>
    
    <delete id="deleteBranch" parameterType="com.worksmobile.Assignment.Domain.BranchDTO">
		DELETE FROM branch
		WHERE branch_id = 0 AND before_version = 1 AND cur_version = 1 AND history_id = 0
		<if test='next_version != 0'>
			AND next_version = #{next_version}
		</if>
		;
    </delete>

    <insert id="createBranch" parameterType="com.worksmobile.Assignment.Domain.BranchDTO"
     useGeneratedKeys="true" keyProperty="id">
		INSERT INTO branch(branch_id, before_version, cur_version, history_id
		<if test='next_version != 0'>
																			, next_version
		</if>
																							)
		VALUES(#{branch_id}, #{before_version}, #{cur_version}, #{history_id}
		<if test='next_version != 0'>
																			, #{next_version}
		</if>
																							)
																
    </insert>

    <update id="updateBranch" parameterType="com.worksmobile.Assignment.Domain.BranchDTO">
		UPDATE branch
		SET
			next_version = #{next_version}
		WHERE
			branch_id = #{branch_id} AND before_version = #{before_version} 
			AND cur_version = #{cur_version} AND history_id = #{history_id};
    </update>

</mapper>