<?xml version="1.0" encoding="UTF-8" ?>
 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.worksmobile.assignment.mapper.FileMapper">
	
 	<select id="getAllFile" resultType="com.worksmobile.assignment.model.File">
		SELECT file_id, file_name, file_data, file_size
		FROM file;
	</select>
 	
 	<select id="getFile" parameterType ="int" resultType="com.worksmobile.assignment.model.File">
		SELECT file_id, file_name, file_data, file_size
		FROM file
		WHERE file_id = #{file_id};  
	</select>
	
 	 <insert id="createFile" useGeneratedKeys="true" keyProperty="file_id" parameterType="com.worksmobile.assignment.model.File">
        INSERT INTO file
        ( file_name,file_data,file_size)
        VALUES ( #{file_name},#{file_data,jdbcType=BLOB},#{file_size})
    </insert>

	<delete id="deleteFile" parameterType="int">
		DELETE FROM file
		WHERE file_id = #{file_id};
	</delete>
	
	<delete id="deleteNoMoreUsingFile" parameterType = "hashmap">
<!-- 	TODO : 수정 요망 -->
<!-- 		DELETE FROM file  -->
<!-- 		WHERE file_id !=0 AND EXISTS ( -->
<!-- 		                                 SELECT file_id from (SELECT file_id FROM file WHERE EXISTS(SELECT  -->
<!--                                         <foreach collection="fileIdList" item="item" index="index" separator=","> -->
<!--                                         #{item} AS file_id -->
<!--                                         </foreach> FROM DUAL)  -->
<!--                                          )temp1 -->
<!--                                         WHERE NOT EXISTS ( -->
<!--                                         SELECT DISTINCT file_id FROM board WHERE file_id != 0 AND EXISTS(SELECT  -->
<!--                                         <foreach collection="fileIdList" item="item" index="index" separator=","> -->
<!--                                         #{item} AS file_id -->
<!--                                         </foreach> FROM DUAL)  -->
<!--                                         UNION SELECT DISTINCT file_id FROM board_history WHERE file_id != 0 AND EXISTS(SELECT  -->
<!--                                         <foreach collection="fileIdList" item="item" index="index" separator=","> -->
<!--                                         #{item} AS file_id -->
<!--                                         </foreach> FROM DUAL)  -->
<!-- 							            )); -->
			
			
			        DELETE FROM file 
       WHERE file_id !=0 AND file_id IN(
                                        SELECT file_id from (SELECT file_id FROM file WHERE file_id IN( 
                                        <foreach collection="fileIdList" item="item" index="index" separator=",">
                                        #{item}
                                        </foreach>) 
                                         )temp1
                                        WHERE file_id NOT IN (
                                        SELECT DISTINCT file_id FROM board WHERE file_id != 0 AND file_id IN( 
                                        <foreach collection="fileIdList" item="item" index="index" separator=",">
                                        #{item}
                                        </foreach>) 
                                        UNION SELECT DISTINCT file_id FROM board_history WHERE file_id != 0 AND file_id IN( 
                                        <foreach collection="fileIdList" item="item" index="index" separator=",">
                                        #{item}
                                        </foreach>)
                                         UNION SELECT DISTINCT file_id FROM board_temp WHERE file_id != 0 AND file_id IN( 
                                        <foreach collection="fileIdList" item="item" index="index" separator=",">
                                        #{item}
                                        </foreach>)  
                                       ));
	</delete>
</mapper>